In [27]:
import pandas as pd
import numpy as np

In [28]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
main_df=test[['Item_Identifier','Outlet_Identifier']]

In [29]:
train.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [30]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [31]:
train.shape

(8523, 12)

In [32]:
test.shape

(5681, 11)

In [33]:
train.duplicated().sum()

0

In [34]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [35]:
train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [36]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
train

In [11]:
#datadf['price']=df.groupby('company')['price'].transform(lambda x: x.fillna(x.mean())) 

train['Item_Weight']=train.groupby('Item_Identifier')['Item_Weight'].transform(lambda x: x.fillna(x.mean()))
test['Item_Weight']=test.groupby('Item_Identifier')['Item_Weight'].transform(lambda x: x.fillna(x.mean()))

In [12]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [13]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(),inplace=True)
test['Item_Weight'].fillna(test['Item_Weight'].mean(),inplace=True)

In [14]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [15]:
test['Item_Fat_Content'].unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [16]:
#train['Outlet_Size']=test.groupby('Outlet_Location_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()))
dict_val={'Tier 1':'High','Tier 2':'Medium','Tier 3':'Low'}
missing_index=train[train['Outlet_Size'].isna()==True].index
for i in missing_index:
    train.loc[i,'Outlet_Size']=dict_val[train.loc[i,'Outlet_Location_Type']]
    
missing_index=test[test['Outlet_Size'].isna()==True].index
for i in missing_index:
    test.loc[i,'Outlet_Size']=dict_val[test.loc[i,'Outlet_Location_Type']]

In [17]:
dict_fat={'Low Fat':'Low Fat','LF':'Low Fat','Regular':'Regular','reg':'Regular','low fat':'Low Fat'}

train['Item_Fat_Content']=train['Item_Fat_Content'].map(dict_fat)
test['Item_Fat_Content']=test['Item_Fat_Content'].map(dict_fat)

In [18]:
test['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [19]:

test.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [20]:
train=train.drop(['Item_Identifier','Outlet_Identifier'],axis=1)
test=test.drop(['Item_Identifier','Outlet_Identifier'],axis=1)

In [21]:
X = train.select_dtypes(include=[object])

In [22]:
columns=X.columns

In [23]:
X=pd.get_dummies(X)
train=pd.concat([train.drop(columns,axis=1),X],axis=1)

In [24]:
Y = test.select_dtypes(include=[object])
columns=Y.columns
Y=pd.get_dummies(Y)
test=pd.concat([test.drop(columns,axis=1),Y],axis=1)

In [25]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train[['Item_Weight','Item_Visibility','Item_MRP']]=sc.fit_transform(train[['Item_Weight','Item_Visibility','Item_MRP']])
test[['Item_Weight','Item_Visibility','Item_MRP']]=sc.fit_transform(test[['Item_Weight','Item_Visibility','Item_MRP']])

In [26]:
train.head(5)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Size_Low,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,-0.769779,-0.970732,1.747454,1999,3735.1380,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,-1.497485,-0.908111,-1.489023,2009,443.4228,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,0.995661,-0.956917,0.010040,1999,2097.2700,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,1.361666,-1.281758,0.660050,1998,732.3800,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,-0.849439,-1.281758,-1.399220,1987,994.7052,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [28]:
X=train.drop('Item_Outlet_Sales',axis=1)
y=train['Item_Outlet_Sales']

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X,y,test_size=0.2)

In [30]:
from sklearn.linear_model import Lasso
lasso=Lasso(normalize=True)
lasso.fit(X_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000, normalize=True,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [31]:
X_train.columns[lasso.coef_!=0]

Index(['Item_MRP', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3'],
      dtype='object')

In [32]:
X_train=X_train[X_train.columns[lasso.coef_!=0]]

In [33]:
X_train.shape

(6818, 4)

In [34]:
X_valid=X_valid[X_valid.columns[lasso.coef_!=0]]

In [35]:
X_valid.shape

(1705, 4)

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_valid)
print(np.sqrt(mean_squared_error(y_pred,y_valid)))

1112.006902232249

In [37]:
test=test[test.columns[lasso.coef_!=0]]

In [38]:
y_pred1=reg.predict(test)
y_pred1

array([1790.2284332 , 1465.05852899, 1953.85477052, ..., 1962.47869917,
       3480.148253  , 1345.9627405 ])

In [39]:
main_df['Item_Outlet_Sales']=y_pred1
main_df.to_csv('Mayur_Food_LR_LS.csv',index=False,header=True)

In [40]:
main_df.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1790.228433
1           FDW14            OUT017        1465.058529
2           NCN55            OUT010        1953.854771
3           FDQ58            OUT017        2536.920625
4           FDY38            OUT027        5217.897736

In [41]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200,max_depth=5,min_samples_leaf=100,n_jobs=4)
regressor.fit(X_train, y_train)
pred=regressor.predict(X_valid)
print(np.sqrt(mean_squared_error(pred,y_valid)))

1112.006902232249

In [42]:
y_pred=regressor.predict(test)

In [43]:
main_df['Item_Outlet_Sales']=y_pred
main_df.to_csv('Mayur_Food_RF.csv',index=False,header=True)